.section-events {
    background-color: var(--cor-fundo-principal);
    padding: 3rem 12rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: start;
}