@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor-fundo-principal: #06151a;
  --grafiti-funcdo-componente: #212121;
  --cinza-medio: #4A4949;
  --verde-destaque: #17D9B1;
}

/* ----------------------------------------------------- */
/* Estilo cabeçalho e banner */
.conteudo-principal__cabecalho {
  background-color: var(--cor-fundo-principal);
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.conteudo-principal__banner {
  display: flex;
  justify-content: center;
  background:  linear-gradient(180deg, #17E4B9 0%, #091d24 100%);
}

.conteudo-principal__banner img {
  width: 80%;
}

/* ---------------------------------------------------- */
/* Estilo formulário */
.conteudo-principal__section-formulario__nova-tarefa {
  background-color: var(--cor-fundo-principal);
  padding: 2.5rem;
  font-family: "Work Sans", sans-serif;
}

.conteudo-principal__formulario-nova-tarefa {
  width: 30%;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  border: none;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  background-color: var(--grafiti-funcdo-componente);
}

.formulario-nova-tarefa__titulo {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.conteudo-principal__formulario-nova-tarefa fieldset {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: start;
}

.label-novo-evento {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
}

.input-novo-evento {
  background-color: transparent;
  border-radius: 12px;
  padding: 0.8rem;
  border: var(--cinza-medio) solid 1px;
}

#input__data-evento {
  color: var(--cinza-medio);
}

.input-novo-evento::placeholder {
  color: var(--cinza-medio);
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
}

.formulario-nova-tarefa__button {
  background-color: var(--verde-destaque);
  padding: 1rem 3rem;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .conteudo-principal__formulario-nova-tarefa {
    width: 80%;
  }

  .conteudo-principal__banner {
    height: 25%;
  }
}