@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor-fundo-principal: #06151a;
  --grafiti-funcdo-componente: #212121;
  --cinza-medio: #4A4949;
  --verde-destaque: #17D9B1;
}


